.page {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.articlePage {
  margin-bottom: 3rem;
}

.post {
  margin: 2rem 0;
}

.divider {
  text-align: center;
  margin: 1.5rem 0;
}

.title {
  padding: 6rem 0;
  text-align: right;
}

.articleh1 {
  padding: 1rem 0;
}

.postTitle {
  display: inline;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  margin-right: 0.5rem;
}

.postTitle:hover {
  text-decoration: none;
}

.postTime {
  line-height: 1.5em;
  color: grey;
}

.tagBar {
  margin-top: 2rem;
}

.tagButton {
  text-decoration: none;
  margin-right: 0.5rem;
  padding: 0.125rem 0.325rem;
  color: black;
  border: solid 1px;
}

.tagButton:hover,
.tagButton:focus,
.tagButton:active,
.active {
  color: white;
  border-color: black;
  background-color: black;
  text-decoration: none;
}

.articleNavbar {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: sticky;
  top: 0;
  background-color: white;
}

.imageContainer {
  margin: 2rem 0
}

.image {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imageCaption {
  font-size: 0.75rem;
  color: rgb(140, 140, 140);
  text-align: center;
  font-style: italic;
  line-height: 1.25rem;
}

.nextArticle {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

@media (prefers-color-scheme: dark) {
  .tagButton {
    color: white;
  }
  .tagButton:hover,
  .tagButton:focus,
  .tagButton:active,
  .active {
    color: black;
    border-color: white;
    background-color: white;
  }
  .articleNavbar {
    background-color: black;
  }
}
